#!/usr/bin/env bash
# @file vke_config.sh
# VMware Kubernetes Engine account settings and preferences
# @author Alister Lewis-Bowen <alister@lewis-bowen.org>

VKE_TARGET='https://api.vke.cloud.vmware.com'
VKE_TOKEN='your_refresh_token'
VKE_CSP_ORG_ID='your_organization_id'
VKE_DEFAULT_FOLDER='SharedFolder'
VKE_DEFAULT_PROJECT='SharedProject'
VKE_DEFAULT_REGION='us-west-2'
VKE_CLUSTER_PREFIX='mycluster-'
VKE_CLUSTER_DNAME_PREFIX='My Cluster - '
VKE_DEPLOYMENT_PREFIX='mydeployment-'