swagger: '2.0'
info:
  description: This is Olympus server.
  version: 0.0.1
  title: Swagger Olympus
host: olympus.vmware.com
basePath: /v1alpha
schemes:
  - https
  - http
paths:
  /v1alpha/cloud/accounts:
    get:
      tags:
        - AccountResourceService
      summary: List Accounts.
      operationId: listCloudAccount
      parameters:
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/accountListAccountsResponse'
    post:
      tags:
        - AccountResourceService
      summary: Create a Account.
      operationId: createCloudAccount
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/accountCreateAccountRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/accountCreateAccountResponse'
  '/v1alpha/cloud/accounts/{name}':
    get:
      tags:
        - AccountResourceService
      summary: Get a Account.
      operationId: getCloudAccount
      parameters:
        - type: string
          description: Name of the account.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/accountGetAccountResponse'
    put:
      tags:
        - AccountResourceService
      summary: Update (overwrite) a Account.
      operationId: updateCloudAccount
      parameters:
        - type: string
          description: Name of the account.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/accountUpdateAccountRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/accountUpdateAccountResponse'
    delete:
      tags:
        - AccountResourceService
      summary: Delete Account.
      operationId: deleteCloudAccount
      parameters:
        - type: string
          description: Name of the account.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/accountDeleteAccountResponse'
    patch:
      tags:
        - AccountResourceService
      summary: Patch a Account.
      operationId: patchCloudAccount
      parameters:
        - type: string
          description: Name of the account.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/accountPatchAccountRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/accountPatchAccountResponse'
  /v1alpha/cloud/backuplocations:
    get:
      tags:
        - BackupLocationResourceService
      summary: List BackupLocations.
      operationId: listCloudBackupLocation
      parameters:
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `account`; supports globbing; default (*).
          name: search_scope.account
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationListBackupLocationsResponse'
    post:
      tags:
        - BackupLocationResourceService
      summary: Create a BackupLocation.
      operationId: createCloudBackupLocation
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backuplocationCreateBackupLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationCreateBackupLocationResponse'
  '/v1alpha/cloud/backuplocations/{name}':
    get:
      tags:
        - BackupLocationResourceService
      summary: Get a BackupLocation.
      operationId: getCloudBackupLocation
      parameters:
        - type: string
          description: Name of the Backup Location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: >-
            The reference to the provider account where the storage bucket was
            created.
          name: full_name.account
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationGetBackupLocationResponse'
    put:
      tags:
        - BackupLocationResourceService
      summary: Update (overwrite) a BackupLocation.
      operationId: updateCloudBackupLocation
      parameters:
        - type: string
          description: Name of the Backup Location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backuplocationUpdateBackupLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationUpdateBackupLocationResponse'
    delete:
      tags:
        - BackupLocationResourceService
      summary: Delete BackupLocation.
      operationId: deleteCloudBackupLocation
      parameters:
        - type: string
          description: Name of the Backup Location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: >-
            The reference to the provider account where the storage bucket was
            created.
          name: full_name.account
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationDeleteBackupLocationResponse'
    patch:
      tags:
        - BackupLocationResourceService
      summary: Patch a BackupLocation.
      operationId: patchCloudBackupLocation
      parameters:
        - type: string
          description: Name of the Backup Location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backuplocationPatchBackupLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationPatchBackupLocationResponse'
  /v1alpha/cloud/snapshotlocations:
    get:
      tags:
        - SnapshotLocationResourceService
      summary: List SnapshotLocations.
      operationId: listCloudSnapshotLocation
      parameters:
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `account`; supports globbing; default (*).
          name: search_scope.account
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationListSnapshotLocationsResponse'
    post:
      tags:
        - SnapshotLocationResourceService
      summary: Create a SnapshotLocation.
      operationId: createCloudSnapshotLocation
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/snapshotlocationCreateSnapshotLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationCreateSnapshotLocationResponse'
  '/v1alpha/cloud/snapshotlocations/{name}':
    get:
      tags:
        - SnapshotLocationResourceService
      summary: Get a SnapshotLocation.
      operationId: getCloudSnapshotLocation
      parameters:
        - type: string
          description: Name of the Snapshot Location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: >-
            The reference to the provider account where the volume snapshot
            location was created.
          name: full_name.account
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationGetSnapshotLocationResponse'
    put:
      tags:
        - SnapshotLocationResourceService
      summary: Update (overwrite) a SnapshotLocation.
      operationId: updateCloudSnapshotLocation
      parameters:
        - type: string
          description: Name of the Snapshot Location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/snapshotlocationUpdateSnapshotLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationUpdateSnapshotLocationResponse'
    delete:
      tags:
        - SnapshotLocationResourceService
      summary: Delete SnapshotLocation.
      operationId: deleteCloudSnapshotLocation
      parameters:
        - type: string
          description: Name of the Snapshot Location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: >-
            The reference to the provider account where the volume snapshot
            location was created.
          name: full_name.account
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationDeleteSnapshotLocationResponse'
    patch:
      tags:
        - SnapshotLocationResourceService
      summary: Patch a SnapshotLocation.
      operationId: patchCloudSnapshotLocation
      parameters:
        - type: string
          description: Name of the Snapshot Location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/snapshotlocationPatchSnapshotLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationPatchSnapshotLocationResponse'
  '/v1alpha/clusters/{cluster_name}/agents':
    get:
      tags:
        - AgentResourceService
      summary: List Agents.
      operationId: listClusterAgent
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/agentListAgentsResponse'
    post:
      tags:
        - AgentResourceService
      summary: Create a Agent.
      operationId: createClusterAgent
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/agentCreateAgentRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/agentCreateAgentResponse'
  '/v1alpha/clusters/{cluster_name}/agents/{name}':
    get:
      tags:
        - AgentResourceService
      summary: Get a Agent.
      operationId: getClusterAgent
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of the cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/agentGetAgentResponse'
    put:
      tags:
        - AgentResourceService
      summary: Update (overwrite) a Agent.
      operationId: updateClusterAgent
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/agentUpdateAgentRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/agentUpdateAgentResponse'
    delete:
      tags:
        - AgentResourceService
      summary: Delete Agent.
      operationId: deleteClusterAgent
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of the cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/agentDeleteAgentResponse'
    patch:
      tags:
        - AgentResourceService
      summary: Patch a Agent.
      operationId: patchClusterAgent
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/agentPatchAgentRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/agentPatchAgentResponse'
  '/v1alpha/clusters/{cluster_name}/agents/{agent_name}/extensions':
    get:
      tags:
        - ExtensionResourceService
      summary: List Extensions.
      operationId: listClusterAgentExtension
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Scope search to `agent_name`; supports globbing; default (*).
          name: agent_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/extensionListExtensionsResponse'
    post:
      tags:
        - ExtensionResourceService
      summary: Create a Extension.
      operationId: createClusterAgentExtension
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: agent_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/extensionCreateExtensionRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/extensionCreateExtensionResponse'
  '/v1alpha/clusters/{cluster_name}/agents/{agent_name}/extensions/{name}':
    get:
      tags:
        - ExtensionResourceService
      summary: Get a Extension.
      operationId: getClusterAgentExtension
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: agent_name
          in: path
          required: true
        - type: string
          description: Name of the extension.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of the cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/extensionGetExtensionResponse'
    put:
      tags:
        - ExtensionResourceService
      summary: Update (overwrite) a Extension.
      operationId: updateClusterAgentExtension
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: agent_name
          in: path
          required: true
        - type: string
          description: Name of the extension.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/extensionUpdateExtensionRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/extensionUpdateExtensionResponse'
    delete:
      tags:
        - ExtensionResourceService
      summary: Delete Extension.
      operationId: deleteClusterAgentExtension
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: agent_name
          in: path
          required: true
        - type: string
          description: Name of the extension.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of the cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/extensionDeleteExtensionResponse'
    patch:
      tags:
        - ExtensionResourceService
      summary: Patch a Extension.
      operationId: patchClusterAgentExtension
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the agent.
          name: agent_name
          in: path
          required: true
        - type: string
          description: Name of the extension.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/extensionPatchExtensionRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/extensionPatchExtensionResponse'
  '/v1alpha/clusters/{cluster_name}/brms':
    get:
      tags:
        - BrmResourceService
      summary: List Brms.
      operationId: listClusterBrm
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/brmListBrmsResponse'
    post:
      tags:
        - BrmResourceService
      summary: Create a Brm.
      operationId: createClusterBrm
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/brmCreateBrmRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/brmCreateBrmResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{name}':
    get:
      tags:
        - BrmResourceService
      summary: Get a Brm.
      operationId: getClusterBrm
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this BRM.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/brmGetBrmResponse'
    put:
      tags:
        - BrmResourceService
      summary: Update (overwrite) a Brm.
      operationId: updateClusterBrm
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this BRM.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/brmUpdateBrmRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/brmUpdateBrmResponse'
    delete:
      tags:
        - BrmResourceService
      summary: Delete Brm.
      operationId: deleteClusterBrm
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this BRM.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/brmDeleteBrmResponse'
    patch:
      tags:
        - BrmResourceService
      summary: Patch a Brm.
      operationId: patchClusterBrm
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this BRM.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/brmPatchBrmRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/brmPatchBrmResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/backups':
    get:
      tags:
        - BackupResourceService
      summary: List Backups.
      operationId: listClusterBrmBackup
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Scope search to `brm_name`; supports globbing; default (*).
          name: brm_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backupListBackupsResponse'
    post:
      tags:
        - BackupResourceService
      summary: Create a Backup.
      operationId: createClusterBrmBackup
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backupCreateBackupRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backupCreateBackupResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/backups/{name}':
    get:
      tags:
        - BackupResourceService
      summary: Get a Backup.
      operationId: getClusterBrmBackup
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backupGetBackupResponse'
    put:
      tags:
        - BackupResourceService
      summary: Update (overwrite) a Backup.
      operationId: updateClusterBrmBackup
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backupUpdateBackupRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backupUpdateBackupResponse'
    delete:
      tags:
        - BackupResourceService
      summary: Delete Backup.
      operationId: deleteClusterBrmBackup
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backupDeleteBackupResponse'
    patch:
      tags:
        - BackupResourceService
      summary: Patch a Backup.
      operationId: patchClusterBrmBackup
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backupPatchBackupRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backupPatchBackupResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/backuplocations':
    get:
      tags:
        - BackupLocationResourceService
      summary: List BackupLocations.
      operationId: listClusterBrmBackupLocation
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Scope search to `brm_name`; supports globbing; default (*).
          name: brm_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationListBackupLocationsResponse'
    post:
      tags:
        - BackupLocationResourceService
      summary: Create a BackupLocation.
      operationId: createClusterBrmBackupLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backuplocationCreateBackupLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationCreateBackupLocationResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/backuplocations/{name}':
    get:
      tags:
        - BackupLocationResourceService
      summary: Get a BackupLocation.
      operationId: getClusterBrmBackupLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup Location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationGetBackupLocationResponse'
    put:
      tags:
        - BackupLocationResourceService
      summary: Update (overwrite) a BackupLocation.
      operationId: updateClusterBrmBackupLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup Location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backuplocationUpdateBackupLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationUpdateBackupLocationResponse'
    delete:
      tags:
        - BackupLocationResourceService
      summary: Delete BackupLocation.
      operationId: deleteClusterBrmBackupLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup Location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationDeleteBackupLocationResponse'
    patch:
      tags:
        - BackupLocationResourceService
      summary: Patch a BackupLocation.
      operationId: patchClusterBrmBackupLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Backup Location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/backuplocationPatchBackupLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/backuplocationPatchBackupLocationResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/restores':
    get:
      tags:
        - RestoreResourceService
      summary: List Restores.
      operationId: listClusterBrmRestore
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Scope search to `brm_name`; supports globbing; default (*).
          name: brm_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/restoreListRestoresResponse'
    post:
      tags:
        - RestoreResourceService
      summary: Create a Restore.
      operationId: createClusterBrmRestore
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/restoreCreateRestoreRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/restoreCreateRestoreResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/restores/{name}':
    get:
      tags:
        - RestoreResourceService
      summary: Get a Restore.
      operationId: getClusterBrmRestore
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Restore.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/restoreGetRestoreResponse'
    put:
      tags:
        - RestoreResourceService
      summary: Update (overwrite) a Restore.
      operationId: updateClusterBrmRestore
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Restore.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/restoreUpdateRestoreRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/restoreUpdateRestoreResponse'
    delete:
      tags:
        - RestoreResourceService
      summary: Delete Restore.
      operationId: deleteClusterBrmRestore
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Restore.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/restoreDeleteRestoreResponse'
    patch:
      tags:
        - RestoreResourceService
      summary: Patch a Restore.
      operationId: patchClusterBrmRestore
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Restore.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/restorePatchRestoreRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/restorePatchRestoreResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/schedules':
    get:
      tags:
        - ScheduleResourceService
      summary: List Schedules.
      operationId: listClusterBrmSchedule
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Scope search to `brm_name`; supports globbing; default (*).
          name: brm_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/scheduleListSchedulesResponse'
    post:
      tags:
        - ScheduleResourceService
      summary: Create a Schedule.
      operationId: createClusterBrmSchedule
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/scheduleCreateScheduleRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/scheduleCreateScheduleResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/schedules/{name}':
    get:
      tags:
        - ScheduleResourceService
      summary: Get a Schedule.
      operationId: getClusterBrmSchedule
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Schedule.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/scheduleGetScheduleResponse'
    put:
      tags:
        - ScheduleResourceService
      summary: Update (overwrite) a Schedule.
      operationId: updateClusterBrmSchedule
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Schedule.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/scheduleUpdateScheduleRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/scheduleUpdateScheduleResponse'
    delete:
      tags:
        - ScheduleResourceService
      summary: Delete Schedule.
      operationId: deleteClusterBrmSchedule
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Schedule.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/scheduleDeleteScheduleResponse'
    patch:
      tags:
        - ScheduleResourceService
      summary: Patch a Schedule.
      operationId: patchClusterBrmSchedule
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Schedule.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/schedulePatchScheduleRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/schedulePatchScheduleResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/snapshotlocations':
    get:
      tags:
        - SnapshotLocationResourceService
      summary: List SnapshotLocations.
      operationId: listClusterBrmSnapshotLocation
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Scope search to `brm_name`; supports globbing; default (*).
          name: brm_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationListSnapshotLocationsResponse'
    post:
      tags:
        - SnapshotLocationResourceService
      summary: Create a SnapshotLocation.
      operationId: createClusterBrmSnapshotLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/snapshotlocationCreateSnapshotLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationCreateSnapshotLocationResponse'
  '/v1alpha/clusters/{cluster_name}/brms/{brm_name}/snapshotlocations/{name}':
    get:
      tags:
        - SnapshotLocationResourceService
      summary: Get a SnapshotLocation.
      operationId: getClusterBrmSnapshotLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Snapshot location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationGetSnapshotLocationResponse'
    put:
      tags:
        - SnapshotLocationResourceService
      summary: Update (overwrite) a SnapshotLocation.
      operationId: updateClusterBrmSnapshotLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Snapshot location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/snapshotlocationUpdateSnapshotLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationUpdateSnapshotLocationResponse'
    delete:
      tags:
        - SnapshotLocationResourceService
      summary: Delete SnapshotLocation.
      operationId: deleteClusterBrmSnapshotLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Snapshot location.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationDeleteSnapshotLocationResponse'
    patch:
      tags:
        - SnapshotLocationResourceService
      summary: Patch a SnapshotLocation.
      operationId: patchClusterBrmSnapshotLocation
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of backup restore and migration tool.
          name: brm_name
          in: path
          required: true
        - type: string
          description: Name of this Snapshot location.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/snapshotlocationPatchSnapshotLocationRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/snapshotlocationPatchSnapshotLocationResponse'
  '/v1alpha/clusters/{full_name.cluster_name}/healths/{full_name.name}':
    get:
      summary: Get a Health.
      operationId: getClusterHealth
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/healthGetHealthResponse'
      parameters:
        - name: full_name.cluster_name
          description: Name of the cluster.
          in: path
          required: true
          type: string
        - name: full_name.name
          description: Name of the cluster health.
          in: path
          required: true
          type: string
        - name: full_name.org_id
          description: Org ID of the cluster organization.
          in: query
          required: false
          type: string
        - name: full_name.location
          description: Location of the cluster.
          in: query
          required: false
          type: string
      tags:
        - HealthResourceService
  '/v1alpha/clusters/{search_scope.cluster_name}/healths':
    get:
      summary: List Healths.
      operationId: listClusterHealth
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/healthListHealthsResponse'
      parameters:
        - name: search_scope.cluster_name
          description: Scope search to `cluster_name`; supports globbing; default (*).
          in: path
          required: true
          type: string
        - name: query
          description: OQL query string.
          in: query
          required: false
          type: string
        - name: pagination_options.size
          description: Number of records to return.
          in: query
          required: false
          type: string
          format: int64
        - name: pagination_options.page_token
          description: Token to specify a page of returning records.
          in: query
          required: false
          type: string
        - name: search_scope.group
          description: Scope search to `group`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: search_scope.org_id
          description: Scope search to `org_id`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: search_scope.location
          description: Scope search to `location`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: search_scope.name
          description: Scope search to `name`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: sort_by
          description: Sort Order.
          in: query
          required: false
          type: string
      tags:
        - HealthResourceService
  '/v1alpha/clusters/{cluster_name}/inspections':
    get:
      tags:
        - InspectionResourceService
      summary: List Inspections.
      operationId: listClusterInspection
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/inspectionListInspectionsResponse'
    post:
      tags:
        - InspectionResourceService
      summary: Create a Inspection.
      operationId: createClusterInspection
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/inspectionCreateInspectionRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/inspectionCreateInspectionResponse'
  '/v1alpha/clusters/{cluster_name}/inspections/{name}':
    get:
      tags:
        - InspectionResourceService
      summary: Get a Inspection.
      operationId: getClusterInspection
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the inspection object.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of the cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/inspectionGetInspectionResponse'
    put:
      tags:
        - InspectionResourceService
      summary: Update (overwrite) a Inspection.
      operationId: updateClusterInspection
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the inspection object.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/inspectionUpdateInspectionRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/inspectionUpdateInspectionResponse'
    delete:
      tags:
        - InspectionResourceService
      summary: Delete Inspection.
      operationId: deleteClusterInspection
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the inspection object.
          name: name
          in: path
          required: true
        - type: string
          description: Org ID of the cluster organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of the cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/inspectionDeleteInspectionResponse'
    patch:
      tags:
        - InspectionResourceService
      summary: Patch a Inspection.
      operationId: patchClusterInspection
      parameters:
        - type: string
          description: Name of the cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of the inspection object.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/inspectionPatchInspectionRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/inspectionPatchInspectionResponse'
  '/v1alpha/clusters/{cluster_name}/namespaces':
    get:
      tags:
        - NamespaceResourceService
      summary: List Namespaces.
      operationId: listClusterNamespace
      parameters:
        - type: string
          description: Scope search to `cluster_name`; supports globbing; default (*).
          name: cluster_name
          in: path
          required: true
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `location`; supports globbing; default (*).
          name: search_scope.location
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespaceListNamespacesResponse'
    post:
      tags:
        - NamespaceResourceService
      summary: Create a Namespace.
      operationId: createClusterNamespace
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/namespaceCreateNamespaceRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespaceCreateNamespaceResponse'
  '/v1alpha/clusters/{cluster_name}/namespaces/{name}':
    get:
      tags:
        - NamespaceResourceService
      summary: Get a Namespace.
      operationId: getClusterNamespace
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this Namespace.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespaceGetNamespaceResponse'
    put:
      tags:
        - NamespaceResourceService
      summary: Update (overwrite) a Namespace.
      operationId: updateClusterNamespace
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this Namespace.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/namespaceUpdateNamespaceRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespaceUpdateNamespaceResponse'
    delete:
      tags:
        - NamespaceResourceService
      summary: Delete Namespace.
      operationId: deleteClusterNamespace
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this Namespace.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
        - type: string
          description: Location of parent Cluster.
          name: full_name.location
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespaceDeleteNamespaceResponse'
    patch:
      tags:
        - NamespaceResourceService
      summary: Patch a Namespace.
      operationId: patchClusterNamespace
      parameters:
        - type: string
          description: Name of parent Cluster.
          name: cluster_name
          in: path
          required: true
        - type: string
          description: Name of this Namespace.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/namespacePatchNamespaceRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespacePatchNamespaceResponse'
  '/v1alpha/clusters/{full_name.cluster_name}/namespaces:iam/{full_name.name}':
    get:
      summary: Get policy for a Namespace.
      operationId: getClusterNamespaceIam
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespaceGetNamespaceIAMPolicyResponse'
      parameters:
        - name: full_name.cluster_name
          description: Name of parent Cluster.
          in: path
          required: true
          type: string
        - name: full_name.name
          description: Name of this Namespace.
          in: path
          required: true
          type: string
        - name: full_name.org_id
          description: ID of Organization.
          in: query
          required: false
          type: string
        - name: full_name.location
          description: Location of parent Cluster.
          in: query
          required: false
          type: string
      tags:
        - NamespaceIAMPolicy
  '/v1alpha/clusters/{full_name.cluster_name}/namespaces:iam/{full_name.name}/testPermissions':
    post:
      summary: Tests permissions for a Namespace.
      operationId: testPermissionsClusterNamespaceIam
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/namespaceTestNamespaceIAMPermissionsResponse'
      parameters:
        - name: full_name.cluster_name
          description: Name of parent Cluster.
          in: path
          required: true
          type: string
        - name: full_name.name
          description: Name of this Namespace.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/namespaceTestNamespaceIAMPermissionsRequest'
      tags:
        - NamespaceIAMPolicy
  '/v1alpha/clusters/{full_name.cluster_name}/objects/{full_name.name}':
    get:
      summary: Get a Object.
      operationId: getClusterObject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/objectGetObjectResponse'
      parameters:
        - name: full_name.cluster_name
          description: Name of the cluster.
          in: path
          required: true
          type: string
        - name: full_name.name
          description: Name of the cluster object.
          in: path
          required: true
          type: string
        - name: full_name.org_id
          description: Org ID of the cluster organization.
          in: query
          required: false
          type: string
        - name: full_name.location
          description: Location of the cluster.
          in: query
          required: false
          type: string
      tags:
        - ObjectResourceService
  '/v1alpha/clusters/{search_scope.cluster_name}/objects':
    get:
      summary: List Objects.
      operationId: listClusterObject
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/objectListObjectsResponse'
      parameters:
        - name: search_scope.cluster_name
          description: Scope search to `cluster_name`; supports globbing; default (*).
          in: path
          required: true
          type: string
        - name: query
          description: OQL query string.
          in: query
          required: false
          type: string
        - name: pagination_options.size
          description: Number of records to return.
          in: query
          required: false
          type: string
          format: int64
        - name: pagination_options.page_token
          description: Token to specify a page of returning records.
          in: query
          required: false
          type: string
        - name: search_scope.group
          description: Scope search to `group`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: search_scope.org_id
          description: Scope search to `org_id`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: search_scope.location
          description: Scope search to `location`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: search_scope.name
          description: Scope search to `name`; supports globbing; default (*).
          in: query
          required: false
          type: string
        - name: sort_by
          description: Sort Order.
          in: query
          required: false
          type: string
      tags:
        - ObjectResourceService
  /v1alpha/clustergroups:
    get:
      tags:
        - ClusterGroupResourceService
      summary: List ClusterGroups.
      operationId: listClustergroup
      parameters:
        - type: string
          description: OQL query string.
          name: query
          in: query
        - type: string
          format: int64
          description: Number of records to return.
          name: pagination_options.size
          in: query
        - type: string
          description: Token to specify a page of returning records.
          name: pagination_options.page_token
          in: query
        - type: string
          description: Scope search to `group`; supports globbing; default (*).
          name: search_scope.group
          in: query
        - type: string
          description: Scope search to `org_id`; supports globbing; default (*).
          name: search_scope.org_id
          in: query
        - type: string
          description: Scope search to `name`; supports globbing; default (*).
          name: search_scope.name
          in: query
        - type: string
          description: Sort Order.
          name: sort_by
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupListClusterGroupsResponse'
    post:
      tags:
        - ClusterGroupResourceService
      summary: Create a ClusterGroup.
      operationId: createClustergroup
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/clustergroupCreateClusterGroupRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupCreateClusterGroupResponse'
  '/v1alpha/clustergroups/{name}':
    get:
      tags:
        - ClusterGroupResourceService
      summary: Get a ClusterGroup.
      operationId: getClustergroup
      parameters:
        - type: string
          description: Name of this ClusterGroup.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupGetClusterGroupResponse'
    put:
      tags:
        - ClusterGroupResourceService
      summary: Update (overwrite) a ClusterGroup.
      operationId: updateClustergroup
      parameters:
        - type: string
          description: Name of this ClusterGroup.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/clustergroupUpdateClusterGroupRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupUpdateClusterGroupResponse'
    delete:
      tags:
        - ClusterGroupResourceService
      summary: Delete ClusterGroup.
      operationId: deleteClustergroup
      parameters:
        - type: string
          description: Name of this ClusterGroup.
          name: name
          in: path
          required: true
        - type: string
          description: ID of Organization.
          name: full_name.org_id
          in: query
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupDeleteClusterGroupResponse'
    patch:
      tags:
        - ClusterGroupResourceService
      summary: Patch a ClusterGroup.
      operationId: patchClustergroup
      parameters:
        - type: string
          description: Name of this ClusterGroup.
          name: name
          in: path
          required: true
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/clustergroupPatchClusterGroupRequest'
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupPatchClusterGroupResponse'
  '/v1alpha/clustergroups:iam/{full_name.name}':
    get:
      summary: Get policy for a ClusterGroup.
      operationId: getClustergroupIam
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupGetClusterGroupIAMPolicyResponse'
      parameters:
        - name: full_name.name
          description: Name of this ClusterGroup.
          in: path
          required: true
          type: string
        - name: full_name.org_id
          description: ID of Organization.
          in: query
          required: false
          type: string
      tags:
        - ClusterGroupIAMPolicy
    put:
      summary: Update (overwrite) policy for a ClusterGroup - deleted if body is empty.
      operationId: updateClustergroupIam
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupUpdateClusterGroupIAMPolicyResponse'
      parameters:
        - name: full_name.name
          description: Name of this ClusterGroup.
          in: path
          required: true
          type: string
        - name: body
          description: ClusterGroup policy.
          in: body
          required: true
          schema:
            $ref: '#/definitions/policyIAMPolicy'
      tags:
        - ClusterGroupIAMPolicy
    patch:
      summary: Patch a ClusterGroup policy.
      operationId: patchClustergroupIam
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupPatchClusterGroupIAMPolicyResponse'
      parameters:
        - name: full_name.name
          description: Name of this ClusterGroup.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/clustergroupPatchClusterGroupIAMPolicyRequest'
      tags:
        - ClusterGroupIAMPolicy
  '/v1alpha/clustergroups:iam/{full_name.name}/testPermissions':
    post:
      summary: Tests permissions for a ClusterGroup.
      operationId: testPermissionsClustergroupIam
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/clustergroupTestClusterGroupIAMPermissionsResponse'
      parameters:
        - name: full_name.name
          description: Name of this ClusterGroup.
          in: path
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/clustergroupTestClusterGroupIAMPermissionsRequest'
      tags:
        - ClusterGroupIAMPolicy
definitions:
  ResourceHealthHealth:
    type: string
    enum:
      - UNKNOWN
      - HEALTHY
      - WARNING
      - UNHEALTHY
    default: UNKNOWN
    description: |-
      Health describes the health of a resource.

       - UNKNOWN: Unknown health.
       - HEALTHY: Resource is healthy.
       - WARNING: Resource is in warning state.
       - UNHEALTHY: Resource is unhealthy.
  ResourceStateState:
    type: string
    enum:
      - UNKNOWN
      - PENDING
      - PROCESSING
      - CREATING
      - COMPLETE
      - READY
      - DELETING
      - ERROR
    default: UNKNOWN
    description: |-
      State describes the state of a resource.

       - UNKNOWN: Unknown state.
       - PENDING: Resource is pending processing.
       - PROCESSING: Processing the resource.
       - CREATING: Resource is being created.
       - COMPLETE: Processing complete.
       - READY: Resource is ready state.
       - DELETING: Resource is being deleted.
       - ERROR: Error in processing.
  WatchAccountsResponseEventType:
    description: |-
      Possible types of events.

       - CREATE: Create event sent.
       - UPDATE: Update event sent.
       - DELETE: Delete event sent.
    type: string
    default: CREATE
    enum:
      - CREATE
      - UPDATE
      - DELETE
  accountAWSRoleBasedConfig:
    description: AWS role based config.
    type: object
    properties:
      role:
        description: Role to assume.
        type: string
  accountAWSSecretBasedConfig:
    description: AWS secret based config.
    type: object
    properties:
      access_key:
        description: User's AWS access key.
        type: string
      account_id:
        description: User's AWS account ID.
        type: string
      secret_key:
        description: User's secret key.
        type: string
  accountAccount:
    description: A cloud provider account details.
    type: object
    properties:
      full_name:
        description: Full name for the provider accounts.
        $ref: '#/definitions/cloudaccountFullName'
      object_meta:
        description: Metadata for the provisioned cluster object.
        $ref: '#/definitions/metaObjectMeta'
      spec:
        description: Spec for Account.
        $ref: '#/definitions/accountAccountSpec'
      status:
        description: Status of the Account.
        $ref: '#/definitions/accountAccountStatus'
      type_meta:
        description: Metadata describing the type of the resource.
        $ref: '#/definitions/metaTypeMeta'
  accountAccountSpec:
    description: The Account spec.
    type: object
    properties:
      cloud_provider_config:
        description: User's cloud provider account.
        $ref: '#/definitions/accountCloudProviderVendorSpecificConfig'
  accountAccountStatus:
    description: Status of Account resource.
    type: object
    properties:
      common_status:
        description: Common statuses.
        $ref: '#/definitions/statusResourceStatus'
  accountCloudProviderAWSAccountConfiguration:
    description: Cloud provider AWS specific account details.
    type: object
    properties:
      aws_role:
        description: Role based config.
        $ref: '#/definitions/accountAWSRoleBasedConfig'
      aws_secret:
        description: Secret based config.
        $ref: '#/definitions/accountAWSSecretBasedConfig'
  accountCloudProviderAzureAccountConfiguration:
    description: Cloud provider Azure specific account details.
    type: object
    properties:
      account_id:
        description: User's Azure account ID.
        type: string
  accountCloudProviderGCPAccountConfiguration:
    description: Cloud provider GCP specific account details.
    type: object
    properties:
      account_id:
        description: User's GCP account ID.
        type: string
  accountCloudProviderVSphereAccountConfiguration:
    description: Cloud provider vSphere specific account details.
    type: object
    properties:
      endpoint:
        description: User's Vsphere endpoint.
        type: string
  accountCloudProviderVendorSpecificConfig:
    description: Cloud provider specific configuration for user accounts.
    type: object
    properties:
      aws_config:
        description: Provider AWS specific config.
        $ref: '#/definitions/accountCloudProviderAWSAccountConfiguration'
      azure_config:
        description: Provider Azure specific config.
        $ref: '#/definitions/accountCloudProviderAzureAccountConfiguration'
      gcp_config:
        description: Provider GCP specific config.
        $ref: '#/definitions/accountCloudProviderGCPAccountConfiguration'
      vsphere_config:
        description: Provider vSphere specific config.
        $ref: '#/definitions/accountCloudProviderVSphereAccountConfiguration'
  accountCreateAccountRequest:
    description: Request to create a Account.
    type: object
    properties:
      account:
        description: Account to create.
        $ref: '#/definitions/accountAccount'
  accountCreateAccountResponse:
    description: Response from creating a Account.
    type: object
    properties:
      account:
        description: Account created.
        $ref: '#/definitions/accountAccount'
  accountDeleteAccountResponse:
    description: Response from deleting Account.
    type: object
    properties:
      message:
        description: Message regarding deletion.
        type: string
  accountGetAccountResponse:
    description: Response from getting a Account.
    type: object
    properties:
      account:
        description: Account returned.
        $ref: '#/definitions/accountAccount'
  accountListAccountsResponse:
    description: Response from listing Accounts.
    type: object
    properties:
      accounts:
        description: List of accounts.
        type: array
        items:
          $ref: '#/definitions/accountAccount'
      next_page_token:
        description: Token to retrieve next page of records.
        type: string
  accountPatchAccountRequest:
    description: Request to patch a Account.
    type: object
    properties:
      account:
        description: Patch Account.
        $ref: '#/definitions/accountAccount'
  accountPatchAccountResponse:
    description: Response from patching a Account.
    type: object
    properties:
      account:
        description: Account to patch.
        $ref: '#/definitions/accountAccount'
  accountSearchScope:
    description: 'Scope to search by, any fields left empty will be considered all (*).'
    type: object
    properties:
      group:
        description: Scope search to `group`; supports globbing; default (*).
        type: string
      name:
        description: Scope search to `name`; supports globbing; default (*).
        type: string
      org_id:
        description: Scope search to `org_id`; supports globbing; default (*).
        type: string
  accountUpdateAccountRequest:
    description: Request to update (overwrite) a Account.
    type: object
    properties:
      account:
        description: Update Account.
        $ref: '#/definitions/accountAccount'
  accountUpdateAccountResponse:
    description: Response from updating a Account.
    type: object
    properties:
      account:
        description: Account updated.
        $ref: '#/definitions/accountAccount'
  accountWatchAccountsResponse:
    description: Streamed response from watching Accounts.
    type: object
    properties:
      account:
        description: Account event.
        $ref: '#/definitions/accountAccount'
      type:
        description: Type of event.
        $ref: '#/definitions/WatchAccountsResponseEventType'
  cloudaccountFullName:
    description: Full name of the provider accounts.
    type: object
    properties:
      name:
        description: Name of the account.
        type: string
      org_id:
        description: Org ID of the cluster organization.
        type: string
  metaObjectMeta:
    description: Holds general shared object metadatas.
    type: object
    properties:
      annotations:
        description: >-
          Annotations for the object. Annotations hold system level imformation
          provisioned by controllers.
        type: object
        additionalProperties:
          type: string
      creation_time:
        description: Creation time of the object.
        type: string
        format: date-time
      description:
        description: Description of the resource.
        type: string
      group:
        description: >-
          Group this resource belongs to, if none is given the group is
          `default`.
        type: string
      labels:
        description: Arbitrary labels attached to the object.
        type: object
        additionalProperties:
          type: string
      resource_version:
        description: 'Version of the resource, increments on changes.'
        type: string
      uid:
        description: UID for the object.
        type: string
      update_time:
        description: Update time of the object.
        type: string
        format: date-time
  metaTypeMeta:
    description: Holds general type metadatas.
    type: object
    properties:
      kind:
        description: Kind of the type.
        type: string
      package:
        description: Package of the type.
        type: string
      version:
        description: Version of the type.
        type: string
  optionsTokenPaginationOptions:
    description: Options to paginate a response using page size and token.
    type: object
    properties:
      page_token:
        description: Token to specify a page of returning records.
        type: string
      size:
        description: Number of records to return.
        type: string
        format: int64
  protobufAny:
    type: object
    properties:
      type_url:
        type: string
      value:
[...]
